
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
}

body{
    
    background-image: linear-gradient(to right, #0c0606fa, #140F2E, #17142cfb, #0c0606 );
}




.container{
    background-image: linear-gradient(to left, #0c06068f, #140F2E,#0c06068f);
    margin: auto;
    max-width: 1140px;
    box-shadow: 0 0 40px 0 #4b6e94;
    height: 100%;
    position: relative;  
    
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    position: fixed;
    width: 1140px;
    height: 80px;
    z-index: 1;
}


nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

nav li  {
 
    width:100% ;
    margin: 25%;
    list-style: none;
    font-size: 1.2rem;
}

li a{
    font-weight: 300;
    text-decoration: none;
    margin: auto;
    text-align: center;
    transition: 0.3s; 
    color:white;  
    
    
}
nav a:hover{
    color:#1c71c5;
    text-decoration: underline;
    
}


h1{
    margin-top: 20px;
    font-weight: 500;
  
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;   
    
}

 .logo img{
    width: 200px;    
    height: 200px;
    margin-top: 200px;
    position: relative;
    box-shadow: 0 0 40px 0 #4b6e94;
    border-radius: 50%;
    transition: 0.3s;  
}

.logo img:hover{
    transform: scale(1.05,1.05);
}




.slideshow-container {
    
    width:960px; 
    position: relative;
    margin: auto;
    margin-top: 200px;

}

.slideshow {
    display: none;
    margin: auto;
}


.slideshow img { 
    width:960px; 
    height: 500px;
    
}

.prev,
.next {
    display: flex;
    cursor: pointer;
    position: absolute;
    opacity: 0.4;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 26px;
    color: white;
    font-weight: bold;
    font-size: 58px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    color: white;
    opacity: 1;
}


.paginacao { 
  
    width:100%; 
    float:left;
    text-align: center;

}

.dot {

    cursor: pointer;
    height: 13px;
    width: 13px;
    margin:  5px;
    border-radius: 50px;
    background-color: #063261;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.ativo,
.dot:hover {
    background-color: white;
    box-shadow: 0 0 10px 0 black;
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}




h2{
    font-weight: 400;
    margin-top: 250px;
    font-size: 24px;
    text-align: center
   
}




.txt_sobre{
    font-size: 1.5rem;
    margin: 0 auto;
    width: 900px;
    margin-bottom: 250px;
    
}

h4{
    font-size: 1.5rem;
    font-weight: 300;
    width: 800px;
    margin: 0 auto;
    background-color: #05529e63;
    border-radius: 20px;
    padding: 5px;
}


.etapas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 300px;
    padding-top: 200px; 
    margin: 0 auto;
      
}

.cardS{
    width: 300px;
    height: 300px;
    margin-top: 40px;
    
    border-radius: 50%;
}
.cardS:hover{
    box-shadow: 0 0 20px 0 #05519e;
}
.cardS img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.cardS span{
    margin: 30px;
    font-size: 24px;

}


.portifolio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 600px;
    margin-top: 40px;
    
    
}



.cards{
   
    width: 300px;
    height: 500px;
    transition: 0.3s;
    margin-top: 40px;
    border-radius: 10px;
}

.cards:hover{
    box-shadow: 0 0 20px 0 #05519e;
    transform: scale(1.1, 1.1);
}
.cards img{
    
    border-radius: 10px;
    margin-bottom: 30px;
}

.cards span{
    font-size: 24px;
    font-weight: 300;
}


.textoS{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 24px;
}

.textoS h3{
    width: 960px;
    margin-top: 280px;
    text-align: center;
    padding: 50px;
    font-weight: 300;    
    border-radius: 10px;
}



.telas{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 150px;
}


.tela span{
    font-size: 24px;
    font-weight: 200;
    text-align: center;
}

.tela img{
    
    width: 280px;
    height: 260px;
    border-radius: 10px;
    margin-bottom: 0px;
    box-shadow: 0 0 20px 0 #1c71c5;

}


.texto {
    margin: 20px;
    text-align: center;
    padding: 30px;
    font-size: 24px;
    background-color: white;
    
}

.texto h3{
    color: black;
    font-weight: 600;
    
}




footer{
    margin-top: 80px;
    padding: 30px;
    box-shadow: 0 0 10px 0 #4b6e94;
    border-radius: 90px 90px 0 0;  
   
}

.whats img{
    position: fixed;
    width: 70px;
    bottom: 50px;
    right: 30px;
    z-index: 9999;
}




.redesSociais{
    
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin-top: 50px;
    height: 50px;
    width: 100%;
   
    
}


.redesSociais img{
    width: 40px;
    height: 40px;
    margin: 10px;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.336);
    border-radius: 50%;
    transition: 0.3s;
    border-radius: 10px;

}  

.redesSociais img:hover{
    
    background-color: rgba(255, 255, 255, 0.959);
    box-shadow: 0 0 40px 0 #204d7e;
      
}
   


.corpoRoda{
    width: 100%;
    display: flex;  
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    height: 100px;
   
}

.corpoRoda a {
    text-decoration: none;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.418);
    
  
}

.corpoRoda a:hover {
    text-decoration: underline;
   
}

.rodape{
    margin-top: 30px;
    width: 100%;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.404);
    height: 10px;
   
}










@-webkit-keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}







@media
(width >= 358px) and 
(width <= 840px){}
    .container{
        display: block;
        justify-content: center;
        align-items: center;
    }

    nav{
       
        width: 100%;
        height: 80px;     
          
        background: none; 
        position: fixed;
        background-color: rgb(0, 0, 0);
        
    }

    nav ul li {
        display: flex;      
        margin: auto; 
    
    }

    nav a{
        margin: auto;
        padding: 20px;
    }

.logo{
    padding-top: 100px;
}

.slideshow-container{
    width: 100%;
    
}

.slideshow-container img{
    width: 100%;
    height: 320px;
}

h2{
    width: 100%;
    margin: 100px auto;
    padding: 20px;
    
    
}
.portifolio{
    flex-direction: column;
    margin: auto;
    width: 100%;
}

.portifolio img{
    width: 100%;
    height: 220px;
    padding: 5px;
}



.portifolio span{
    font-size: 18px;
    padding: 5px;
}


.texto{
    margin-top: 730px;
}
.texto h3{
    font-weight: 600;
    font-size: 22px;
   
}


/*
.legenda   { font-size:2em; padding:8px; }
.paginacao { margin:10px 0; }
.dot       { width:18px; height:18px; }
  */ 


@media  
(width >=770px) and
(width <=1920px ){

    .container{
        display: block;
        justify-content: center;
        align-items: center;
    }

    nav {
       margin:0 auto;
        width: 1280px;
        height: 80px;     
        margin: auto;
        position: fixed;
        background-color: black;
        
    }

    nav ul li{
        
        margin: 60px;
              
    }

.logo{
    padding-top: 180px;
}

.slideshow-container{
    width: 100%;
    
}

.slideshow-container img{
    width: 100%;
    height: 650px;
   
}

h2{
    width: 100%;
    font-size: 2rem;
    margin-top: 140px;
}


.portifolio{
    display: flex;
    
  
   
   
}

.portifolio img{
    
    width: 100%;
    height: 220px;
    padding: 5px;
}

.portifolio span{
    font-size: 18px;
   
 
}


.texto{
    margin-top: 730px;
}
.texto h3{
    font-weight: 600;
    font-size: 28px;
   
}


/*
.legenda   { font-size:2em; padding:8px; }
.paginacao { margin:10px 0; }
.dot       { width:18px; height:18px; }
  */ 
}





 