
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
  
}

body{
    
    background-image: linear-gradient(to right, #0c0606fa, #140F2E, #17142cfb, #0c0606 );
}




.container{
    background-image: linear-gradient(to left, #0c06068f, #140F2E,#0c06068f);
    margin: auto;
    max-width: 1140px;
    box-shadow: 0 0 40px 0 #4b6e94;
    height: 100%;
    position: relative;  
    
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    position: fixed;
    width: 1140px;
    height: 80px;
    z-index: 1;
}


nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

nav li  {
 
    width:100% ;
    margin: 35%;
    list-style: none;
    font-size: 1.5rem;
}

li a{
    font-weight: 300;
    text-decoration: none;
    margin: auto;
    text-align: center;
    transition: 0.3s; 
    color:white;  
    
    
}
nav a:hover{
    color:#1c71c5;
    text-decoration: underline;
    
}


.logo{
    display: flex;
    justify-content: center;
    align-items: center;   
    
}

 .logo img{
    width: 250px;    
    height: 250px;
    margin-top: 200px;
    position: relative;
    box-shadow: 0 0 40px 0 #4b6e94;
    border-radius: 50%;
    transition: 0.3s;  
}

.logo img:hover{
    transform: scale(1.05,1.05);
}


h1{
    padding-top: 60px;
    font-weight: 400;
    text-align: center;
  
}


h5{/*Sobre*/
    text-align: center;
    margin-top: 250px;
    font-weight: 300;
    margin-bottom: 150px;
    font-size: 2rem;
    text-align: center;

}

.txt_sobre{
    font-size: 2rem;
    margin: 0 auto;
    width: 90%;
    padding-bottom: 100px;
    font-weight: 300;
    text-align: center;
    }



h4{/*Sobre*/
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    background-color: #05529e63;
    border-radius: 20px;
    padding: 5px;
}

.etapas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    
      
}

.cardS{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    
   
}
.cardS:hover{
    box-shadow: 0 0 20px 0 #05519e;
}


.cardS img{

    width: 300px;
    height: 300px;
    border-radius: 50%;
  
}

.cardS span{
    margin: 60px;
    font-size: 2rem;
    padding: 30px;
    
    

}


.textoS{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 2rem;
    padding: 30px;
}

.textoS h3{
    margin: 0 auto;
    width: 80%;
    margin-top: 220px;
    text-align: center;
    

    font-weight: 300;    

}



.telas{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 150px;
}


.tela span{
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
}

.tela img{
    
    width: 380px;
    height: 320px;
    border-radius: 10px;
    margin-bottom: 0px;
    box-shadow: 0 0 20px 0 #1c71c5;
    box-shadow: 0 0 30px 0 #1c71c5;
    box-shadow: 0 0 40px 0 #1c71c5;

}







footer{
    margin-top: 80px;
    padding: 30px;
    box-shadow: 0 0 10px 0 #4b6e94;
    border-radius: 90px 90px 0 0;  
   
}

.whats img{
    position: fixed;
    width: 70px;
    bottom: 50px;
    right: 30px;
    z-index: 9999;
}




.redesSociais{
    
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin-top: 50px;
    height: 50px;
    width: 100%;
   
    
}


.redesSociais img{
    width: 40px;
    height: 40px;
    margin: 10px;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.336);
    border-radius: 50%;
    transition: 0.3s;
    border-radius: 10px;

}  

.redesSociais img:hover{
    
    background-color: rgba(255, 255, 255, 0.959);
    box-shadow: 0 0 40px 0 #204d7e;
      
}
   


.corpoRoda{
    width: 100%;
    display: flex;  
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    height: 100px;
   
}

.corpoRoda a {
    text-decoration: none;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.418);
    
  
}

.corpoRoda a:hover {
    text-decoration: underline;
   
}

.rodape{
    margin-top: 30px;
    width: 100%;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.404);
    height: 10px;
   
}










@-webkit-keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}







@media
(width >= 350px) and 
(width <= 750px){
    .container{
        display: block;
        justify-content: center;
        align-items: center;
    }

    nav{
       
        width: 100%;
        height: 80px;  
        background: none; 
        position: fixed;
        background-color: rgb(0, 0, 0);
        
    }

    nav ul li {
        display: flex;      
        margin: auto; 
    
    }

    nav a{
        margin: auto;
        padding: 20px;
    }

.logo{
    padding-top: 100px;
}




h1{
    padding-top: 60px;
    font-weight: 400;
    text-align: center;
  
}


h5{/*Sobre*/
    text-align: center;
    margin-top: 250px;
    font-weight: 300;
    margin-bottom: 150px;
    font-size: 2rem;
    text-align: center;

}

.txt_sobre {
    font-size: 1.8rem;
    margin: 0 auto;
    margin-bottom: 80px;
    width: 100%;    
    font-weight: 100;
    text-align: center;
    padding: 10px;
  
    }



h4{/*Sobre*/
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    background-color: #05529e63;
    border-radius: 20px;
    padding-top: 5px;
}





.etapas{
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    

   
}

.cardS{
    margin: 170px;
 
}

.cardS span{
    margin: 0 auto;
    margin-top: 1340px;
   
}


.telas{
    flex-direction: column;
    margin: 0 auto;
    padding-top: 150px;
    text-align: center;


   
}
.telas img{
    margin-top: 80px;
}

.textoS h3{
    font-size: 1.7rem;
    margin: 0 auto;
    width: 100%;    
    font-weight: 100;
    text-align: center;
}



}

@media
(width >= 750px) and 
(width <= 1140px){
    .container{
        display: block;
        justify-content: center;
        align-items: center;
    }

    nav{
       
        width: 100%;
        height: 80px;  
        background: none; 
        position: fixed;
        background-color: rgb(0, 0, 0);
        
    }

    nav ul li {
        display: flex;      
        margin: auto; 
    
    }

    nav a{
        margin: auto;
        padding: 20px;
    }

.logo{
    padding-top: 100px;
}




h1{
    padding-top: 60px;
    font-weight: 400;
    text-align: center;
  
}


h5{/*Sobre*/
    text-align: center;
    margin-top: 250px;
    font-weight: 300;
    margin-bottom: 150px;
    font-size: 2rem;
    text-align: center;

}

.txt_sobre{
    font-size: 2rem;
    margin: 0 auto;
    width: 90%;    
    font-weight: 300;
    text-align: center;
  
    }



h4{/*Sobre*/
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    background-color: #05529e63;
    border-radius: 20px;
    padding-top: 5px;
}





.etapas{
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    

   
}

.cardS{
    margin: 170px;
 
}

.cardS span{
    margin: 0 auto;
   
}



.textoS{
    font-size: 2rem;
    margin: 0 auto;
    width: 90%;    
    font-weight: 300;
    text-align: center;
   
}


.telas{
    flex-direction: column;
    margin: 0 auto;
    padding-top: 150px;
    text-align: center;


   
}
.telas img{
    margin-top: 80px;
}



}

@media
(width >= 1140px) and 
(width <= 1920px){
    .container{
        display: block;
        justify-content: center;
        align-items: center;
    }

    nav{
       
        width: 1140px;
        height: 80px;  
        background: none; 
        position: fixed;
        background-color: rgb(0, 0, 0);
        margin: 0 auto;
        
    }

    nav ul li {
        display: flex;      
        margin: auto; 
    
    }

    nav a{
        margin: auto;
        padding: 20px;
    }

.logo{
    padding-top: 100px;
}




h1{
    padding-top: 60px;
    font-weight: 400;
    text-align: center;
  
}


h5{/*Sobre*/
    text-align: center;
    margin-top: 250px;
    font-weight: 300;
    margin-bottom: 150px;
    font-size: 2rem;
    text-align: center;

}

.txt_sobre{
    font-size: 2rem;
    margin: 0 auto;
    width: 90%;    
    font-weight: 300;
    text-align: center;
    margin-bottom: 160px;
  
    }



h4{/*Sobre*/
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    background-color: #05529e63;
    border-radius: 20px;
    padding-top: 5px;
}





.etapas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    text-align: center;
   
}

.cardS{
    margin-top:200px ;
    text-align: center;
 
}

.cardS span{
    margin: 0 auto;
    text-align: center;
   
}



.textoS{
    padding-top: 250px;
   
}


.telas{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 150px;


   
}
.telas img{
    margin-top: 180px;
    
}

.telas span{
   
    
}

}





/*
.legenda   { font-size:2em; padding:8px; }
.paginacao { margin:10px 0; }
.dot       { width:18px; height:18px; }
  */ 




/*
.legenda   { font-size:2em; padding:8px; }
.paginacao { margin:10px 0; }
.dot       { width:18px; height:18px; }
  */ 

