
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
}

body{
    
    background-image: linear-gradient(to right, #0c0606fa, #140F2E, #17142cfb, #0c0606 );
}


nav{
    display: flex;
    align-items: center;
    background:linear-gradient(to right, transparent,black, transparent);
    position: fixed;
    width: 1140px;
    height: 50px;  
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
nav li  {
    width:100% ;
    margin-inline: 50%;
    list-style: none;
    font-size: 1.2rem;
}
li a{
    font-weight: 300;
    text-decoration: none;
    transition: 0.3s; 
    color:white;  
}
nav a:hover{
    color:#1c71c5;
    text-decoration: underline;
}



.container{
    background-image: linear-gradient(to left, #0c06068f, #140F2E,#0c06068f);
    margin: auto;
    max-width: 1140px;
    box-shadow: 0 0 40px 0 #4b6e94;
    height: 100%    
}


.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 200px;    
    height: 200px;
    margin-top: 200px;
    box-shadow: 0 0 40px 0 #4b6e94;
    border-radius: 50%;
    transition: 0.3s;
}

.logo img:hover{
    transform: scale(1.05, 1.05);

}

h1{
    margin-top: 20px ;
    
}

h2{
    font-weight: 300;
    margin-top: 100px;
    padding: 40px;
    text-align: center;
  
}
.txt_sobre{
    margin: 0 auto;
    width: 700px;
    font-size: 28px;
}

.cards{
    width: 300px;
    height: 300px;
    margin-top: 40px;
    border-radius: 50%;
}
.cards:hover{
    box-shadow: 0 0 20px 0 #05519e;
}
.cards img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 30px;
}


.portifolio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 300px;
    margin-top: 20px;  
      
}

.cards span{
    margin: 30px;
    font-size: 24px;
    


}


.texto{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 24px;
}

h3{
    width: 960px;
    margin-top: 180px;
    text-align: center;
    padding: 50px;
    font-weight: 300;
    
    border-radius: 10px;
}

.telas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    
}

.tela{
    width: 200px;
    height: 200px;
    margin-top: 40px;
    border-radius: 10px;
}

.tela span{
    font-size: 24px;
    font-weight: 200;
}

.tela img{
    margin: auto;
    width: 220px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px 0 #05519e;

}



footer{
    margin-top: 200px;
    padding: 30px;
    box-shadow: 0 0 10px 0 #4b6e94;
    border-radius: 90px 90px 0 0;  
    
   
}




.whats img{
    position: fixed;
    width: 70px;
    bottom: 50px;
    right: 30px;
    z-index: 9999;
}


.redesSociais{
    
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin-top: 50px;
    height: 50px;
    width: 100%;
}


.redesSociais img{
    width: 40px;
    height: 40px;
    margin: 10px;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.336);
    border-radius: 50%;
    transition: 0.3s;
    border-radius: 10px;  
}  

.redesSociais img:hover{
    
    background-color: rgba(255, 255, 255, 0.959);
    box-shadow: 0 0 40px 0 #204d7e;
      
}
   


.corpoRoda{
    width: 100%;
    display: flex;  
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    height: 100px;
    
}

.corpoRoda a {
    text-decoration: none;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.418);
    
  
}

.corpoRoda a:hover {
    text-decoration: underline;
   
}

.rodape{
    margin-top: 30px;
    width: 100%;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.404);
    height: 10px;
}


@media screen {
    
}









@-webkit-keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}


@media screen and (min-width:360px) and (max-width: 449px){

    .container{
        display: block;
        justify-content: center;
        align-items: center;
    }

    nav{
       
        width: 100%;
        height: 200px;     
        padding: 10px;   
        background: none; 
        position: fixed;
        background-color: black;
        
    }

    nav ul  {
        flex-direction: column;       
    }

    nav li{
        margin-top: 20px;
    }

    .logo{
        padding-top: 100px;
    }

    .txt_sobre{
        width: 100%;
        font-size: 22px;
        padding: 40px;
       
    }

   h4{
    margin-bottom: 450px;
    font-size: 1.5rem;
    font-weight: 100;
    padding: 20px;
   }

    .portifolio{
        flex-direction: column;
        width: 100%;
        padding-top: 240px;
    }

    .cards{
        display:block;
        margin: 80px auto;  
        
    }

    .cards span{
       margin: 0 auto;

    }

    .texto{
        padding-top: 500px;
        font-size: 22px;
        margin: 50px;
    }


    .telas{
        display: block;
        margin: 30px;
        
    }

    .tela{
        margin: 0 auto;
        margin-top: 150px;
        
    }

    
}



@media screen and (min-width:428px) and (max-width: 834px){

    .container{
        display: block;
        justify-content: center;
        align-items: center;
    }

    nav{
       
        width: 100%;
        height: 200px;     
        padding: 10px;   
        background: none; 
        position: fixed;
        background-color: black;
        
    }

    nav ul  {
        flex-direction: column;       
    }

    nav li{
        margin-top: 20px;
    }

    .logo{
        padding-top: 100px;
    }

    .txt_sobre{
        width: 100%;
        font-size: 22px;
        padding: 40px;
        padding-bottom: 160px;
    }

    h4{
        margin-bottom: 450px;
        font-size: 2rem;
        font-weight: 100;
       }

    .portifolio{
        flex-direction: column;
        width: 100%;
        padding-top: 240px;
    }

    .cards{
        display:block;
        margin: 80px auto;  
        
    }

    .cards span{
       margin: 0 auto;

    }

    .texto{
        padding-top: 500px;
        font-size: 22px;
        margin: 50px;
    }


    .telas{
        display: block;
        margin: 30px;
        
    }

    .tela{
        margin: 0 auto;
        margin-top: 150px;
        
    }

    
}

@media screen and (min-width:834px) and (max-width: 1048px){

    .container{
        display: block;
        justify-content: center;
        align-items: center;
    }

    nav{
       
        width: 1140px;
        height: 60px;     
        position: fixed;
        background-color: black;
        
    }

    nav ul  {
         
    }

    nav li{
        margin-top: 20px;
        
    }

    .logo{
        padding-top: 100px;
    }

    .txt_sobre{
        width: 100%;
        font-size: 22px;
        padding: 40px;
        padding-bottom: 160px;
    }

    h4{
        margin-bottom: 450px;
        font-size: 2rem;
        font-weight: 100;
       }

    .portifolio{
        flex-direction: column;
        width: 100%;
        padding-top: 240px;
    }

    .cards{
        display:block;
        margin: 80px auto;  
        
    }

    .cards span{
       margin: 0 auto;

    }

    .texto{
        padding-top: 500px;
        font-size: 22px;
        margin: 50px;
    }


    .telas{
        display: block;
        margin: 30px;
        
    }

    .tela{
        margin: 0 auto;
        margin-top: 150px;
        
    }

    
}

@media screen and (min-width:1048px) and (max-width: 1920px){

    .container{
        display: block;
        justify-content: center;
        align-items: center;
    }

    nav{
       
        width: 1140px;
        height: 60px;     
        position: fixed;
        background-color: black;
        
    }

    nav ul  {
         
    }

    nav li{
        margin-top: 20px;
        
    }

    .logo{
        padding-top: 80px;
       
    }


.logo img{
    width: 250px;
    height: 250px;
}

    h2{
        font-size: 2rem;
    }

    .txt_sobre{
        width: 100%;
        font-size: 2rem;
        padding: 40px;
        padding-bottom: 160px;
    }

    h4{
        margin-bottom: 60px;
        font-size: 2rem;
        font-weight: 100;
       }

    .portifolio{
     
        width: 100%;
       
    }

   

    
    .cards span{
       margin: 0 auto;

    }

    .texto{
       
        font-size: 22px;
        margin: 50px;
    }


    .telas{
        display:flex;
        margin: 30px;
        
    }

    .tela{
        margin: 0 auto;
        margin-top: 150px;
        
    }

    
}












/*960PX BREAKPOINT - Ajustando o texto para desktop*/
/*@media (min-width:60em){


    .legenda   { font-size:2em; padding:8px; }
    .paginacao { margin:10px 0; }
    .dot       { width:18px; height:18px; }  */

